enter your data<br>
<form action="/count" method="post">

  <label for="word">Enter your word:</label>
  <input id="word" name="word" type="text" required>

  <label for="sentence">Enter your sentence:</label>
  <input id="sentence" name="sentence" type="text" required>
  
  <button type="submit">Submit</button>
</form>
